<div class="container middle">
    <div class="row">
    <div class="col">
        <div class="jumbotron jumb">
            <h5 class="lead">Lista użytkowników:</h5>
            <div class="middle">
            <%= form_with url: active_path do |f| %>
                <% @users.each do |u| %>
                    <br>
                    <%= f.fields_for :users, index: u.id do |fu| %>
                        <%= u.usernum %>
                        <% if u.active %>
                            <%= fu.check_box :active, checked: 'checked' %>
                        <% else %>
                            <%= fu.check_box :active %>
                        <% end %>
                    <% end %>
                <% end %>
                <br>
                <br>
                <%= f.submit "Zaakceptuj", class:"btn btn-info" %>
            <% end %>
            </div>
        </div>
    </div>
    </div>
</div>