<div class="middle">

LISTA WSZYSTKICH WNIOSKÓW:

<%= form_with url: status_path do |f| %>
    <% @documents.each do |d| %>
        <br>
        <%= f.fields_for :documents, index: d.id do |fd| %>
            <%= link_to d.content, document_path(d) %>
            <% if d.status == "accepted" %>
                <%= fd.check_box :status, checked: 'checked' %>
            <% else %>
                <%= fd.check_box :status %>
            <% end %>
        <% end %>
    <% end %>
    <br>
    <br>
    <%= f.submit %>
<% end %>
</div>
