<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <%= link_to root_path do %>
        <%= image_tag "ajplogo.jpg", class:"d-inline-block align-top size2"%>
    <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto margin-one">
      <%
=begin%>
 <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li> 
<%
=end%>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <% if session[:user_id] %>
          [<%= session[:user_id]%>]
          <% else %>
          [Niezalogowano]
        <% end %>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%# link_to "Nowy wniosek", new_document_path, class:"dropdown-item"%>
          <% if session[:user_id] %>
            <%=link_to "Wyloguj", logout_path, method: :delete, class:"dropdown-item"%>
          <% else %>
            <%=link_to "Zaloguj się", login_path, class:"dropdown-item"%>
          <% end %>
        </div>
      </li>
    </ul>
  </div>
</nav>