<nav class="navbar navbar-expand-lg navbar-light">
  <%= link_to root_path do %>
    <%= image_tag "ajplogo.jpg", class:"d-inline-block align-top size2"%>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto margin-one">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <% if session[:user_id] %>
            Użytkownik: [<%= session[:user_num]%>]
          <% else %>
            [Niezalogowano]
          <% end %>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <% if session[:user_id] %>
            <%=link_to "Moje konto", user_path(session[:user_id]), class:"dropdown-item"%>
            <%=link_to "Nowy wniosek", new_document_path, class:"dropdown-item"%>
            <%if current_user.role == "admin"%>
              <%=link_to "Wnioski", documents_path, class:"dropdown-item"%>
              <%=link_to "Użytkownicy", users_path, class:"dropdown-item"%>
            <% end %>
            <%=link_to "Wyloguj", logout_path, method: :delete, class:"dropdown-item text-danger"%>
          <% else %>
            <%=link_to "Zaloguj się", login_path, class:"dropdown-item"%>
            <%=link_to "Zarejestruj się", new_user_path, class:"dropdown-item"%>
          <% end %>
        </div>
      </li>
    </ul>
  </div>
</nav>
<br>
<br><br>